In [1]:
# imports

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
import math as m

import functions as f
import functions_m as m
import prepare_m as p

## Having been tasked to identify anomalies in access logs for the Codeup curriculum, we responded to the following questions :  

1. Which lesson appears to attract the most traffic consistently across cohorts (per program)?
2. Is there a cohort that referred to a lesson significantly more than other cohorts, one that other cohorts seemed to gloss over?
3. Are there students who, when active, hardly access the curriculum? If so, what information do you have about these students?
4. Is there any suspicious activity, such as users/machines/etc accessing the curriculum who shouldn’t be? Does it appear that any web-scraping is happening? Are there any suspicious IP addresses?
5. At some point in 2019, the ability for students and alumni to access both curriculums (web dev to ds, ds to web dev) should have been shut off. Do you see any evidence of that happening? Did it happen before?
6. What topics are grads continuing to reference after graduation and into their jobs (for each program)?
7. Which lessons are least accessed?

### We first performed a MySQL query to obtain the access logs, then turned that information into a .csv file to facilitate future access.

In [2]:
# read the .csv

df = pd.read_csv('curriculum_logs.csv', index_col = [0])

In [3]:
# clean up df with date-time

df = p.to_datetime(df, 'date')
df.head(1)

,date,time,url_path,user_id,cohort_id,ip,id,name,start_date,end_date,program_id
0,2018-01-26,09:55:03,/,1,8.0,97.105.19.61,8,Hampton,2015-09-22,2016-02-06,1

### After cleaning, we started to addresses the issues at hand.

### 1. Which lesson appears to attract the most traffic consistently across cohorts (per program)?

In [4]:
# find the most accessed lesson per programme

m.lesson_most_accessed(df)

The most accessed PHP cohort lesson page is javascript-i    736
Name: url_path, dtype: int64.
The most accessed full-stack java cohort lesson page is javascript-i    17457
Name: url_path, dtype: int64.
The most accessed data science cohort lesson page is classification/overview    1785
Name: url_path, dtype: int64.
The most accessed front-end cohort lesson page is content/html-css    2
Name: url_path, dtype: int64.

**TAKEAWAY, QUESTION 1 :**  

- The most accessed PHP lesson page is javascript-i, with 736 hits.

- The most accessed full-stack java lesson page is javascript-i, with 17457 hits.

- The most accessed data science lesson page is classification/overview, with 1785 hits.

- The most accessed front-end lesson page is content/html-css, with 2 hits.

### 2. Is there a cohort that referred to a lesson significantly more than other cohorts, one that other cohorts seemed to gloss over?

In [5]:
# most-accessed url per cohort

#m.url_most_accessed(df)

**TAKEAWAY, QUESTION 2 :**  

The Jupiter cohort had a quite large (1866) number of accesses to the ‘toc’ page. Many cohorts accessed the ‘toc’ page, but Jupiter’s amount of access was notably higher.   

The Staff cohort accessed the javascript-i page 1817 times, the next closes access was with the Ceres cohort, at 1003 accesses.

### 3. Are there students who, when active, hardly access the curriculum? If so, what information do you have about these students?

### 4. Is there any suspicious activity, such as users/machines/etc accessing the curriculum who shouldn’t be? Does it appear that any web-scraping is happening? Are there any suspicious IP addresses?

### 5. At some point in 2019, the ability for students and alumni to access both curriculums (web dev to ds, ds to web dev) should have been shut off. Do you see any evidence of that happening? Did it happen before?

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 847330 entries, 0 to 847329
Data columns (total 15 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   date              847330 non-null  datetime64[ns]
 1   time              847330 non-null  object
 2   url_path          847329 non-null  object
 3   user_id           847330 non-null  int64
 4   cohort_id         847330 non-null  float64
 5   ip                847330 non-null  object
 6   id                847330 non-null  int64
 7   name              847330 non-null  object
 8   start_date        847330 non-null  object
 9   end_date          847330 non-null  object
 10  program_id        847330 non-null  int64
 11  php_cohort        847330 non-null  int64
 12  fs_java_cohort    847330 non-null  int64
 13  ds_cohort         847330 non-null  int64
 14  front_end_cohort  847330 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(7), object(6)
memory usage: 103.4+ MB

In [7]:
f.check_permissions(df, 'url_path')

             date      time                      url_path  user_id  cohort_id  \
328347 2019-09-23  11:45:09                      java-iii      476       34.0
330826 2019-09-25  19:30:44                  javascript-i      476       34.0
330828 2019-09-25  19:31:07                  javascript-i      476       34.0
330829 2019-09-25  19:31:11                        java-i      476       34.0
330830 2019-09-25  19:31:12                  javascript-i      476       34.0
330831 2019-09-25  19:31:14                        java-i      476       34.0
330832 2019-09-25  19:31:19                       java-ii      476       34.0
330837 2019-09-25  19:32:23                  javascript-i      476       34.0
330838 2019-09-25  19:32:34                        java-i      476       34.0
330839 2019-09-25  19:32:38                        java-i      476       34.0
330840 2019-09-25  19:32:44             java-i/console-io      476       34.0
377469 2019-11-25  14:26:14                  javascript-i      476       34.0
377471 2019-11-25  14:26:16                 javascript-ii      476       34.0
377472 2019-11-25  14:26:17                        java-i      476       34.0
377473 2019-11-25  14:26:18                       java-ii      476       34.0
377475 2019-11-25  14:26:20                      java-iii      476       34.0
377477 2019-11-25  14:26:24                      java-iii      476       34.0
378083 2019-11-26  10:31:16  javascript-i/bom-and-dom/dom      467       34.0
378098 2019-11-26  10:37:35                  javascript-i      476       34.0
378099 2019-11-26  10:37:39                 javascript-ii      476       34.0
378103 2019-11-26  10:38:06                        java-i      476       34.0
378128 2019-11-26  10:55:05                  javascript-i      476       34.0
378562 2019-11-26  15:32:05     javascript-i/conditionals      472       34.0
380297 2019-12-03  10:04:40                  javascript-i      467       34.0
380299 2019-12-03  10:04:48                 javascript-ii      467       34.0
380300 2019-12-03  10:04:48                        java-i      467       34.0
380301 2019-12-03  10:04:49                       java-ii      467       34.0
380306 2019-12-03  10:05:25                      java-iii      467       34.0
380435 2019-12-03  11:49:29                  javascript-i      467       34.0
380438 2019-12-03  11:49:33                 javascript-ii      467       34.0
380439 2019-12-03  11:49:35                       java-ii      467       34.0
387753 2019-12-14  16:46:24                  javascript-i      476       34.0

                   ip  id   name  start_date    end_date  program_id  \
328347   97.105.19.58  34  Bayes  2019-08-19  2020-01-30           3
330826  136.50.49.145  34  Bayes  2019-08-19  2020-01-30           3
330828  136.50.49.145  34  Bayes  2019-08-19  2020-01-30           3
330829  136.50.49.145  34  Bayes  2019-08-19  2020-01-30           3
330830  136.50.49.145  34  Bayes  2019-08-19  2020-01-30           3
330831  136.50.49.145  34  Bayes  2019-08-19  2020-01-30           3
330832  136.50.49.145  34  Bayes  2019-08-19  2020-01-30           3
330837  136.50.49.145  34  Bayes  2019-08-19  2020-01-30           3
330838  136.50.49.145  34  Bayes  2019-08-19  2020-01-30           3
330839  136.50.49.145  34  Bayes  2019-08-19  2020-01-30           3
330840  136.50.49.145  34  Bayes  2019-08-19  2020-01-30           3
377469   97.105.19.58  34  Bayes  2019-08-19  2020-01-30           3
377471   97.105.19.58  34  Bayes  2019-08-19  2020-01-30           3
377472   97.105.19.58  34  Bayes  2019-08-19  2020-01-30           3
377473   97.105.19.58  34  Bayes  2019-08-19  2020-01-30           3
377475   97.105.19.58  34  Bayes  2019-08-19  2020-01-30           3
377477   97.105.19.58  34  Bayes  2019-08-19  2020-01-30           3
378083   97.105.19.58  34  Bayes  2019-08-19  2020-01-30           3
378098   97.105.19.58  34  Bayes  2019-08-19  2020-01-30           3
378099   97.105.19.58  34  Bayes  2019-08-19  2020-01-30           3
378103   97.105.19.58  34  Bayes  2019-08-19  2020-01-30           3
378128   97.105.19.58  34  Bayes  2019-08-19  2020-01-30           3
378562   97.105.19.58  34  Bayes  2019-08-19  2020-01-30           3
380297   97.105.19.58  34  Bayes  2019-08-19  2020-01-30           3
380299   97.105.19.58  34  Bayes  2019-08-19  2020-01-30           3
380300   97.105.19.58  34  Bayes  2019-08-19  2020-01-30           3
380301   97.105.19.58  34  Bayes  2019-08-19  2020-01-30           3
380306   97.105.19.58  34  Bayes  2019-08-19  2020-01-30           3
380435   97.105.19.58  34  Bayes  2019-08-19  2020-01-30           3
380438   97.105.19.58  34  Bayes  2019-08-19  2020-01-30           3
380439   97.105.19.58  34  Bayes  2019-08-19  2020-01-30           3
387753  136.50.49.145  34  Bayes  2019-08-19  2020-01-30           3

        php_cohort  fs_java_cohort  ds_cohort  front_end_cohort
328347           0               0          1                 0
330826           0               0          1                 0
330828           0               0          1                 0
330829           0               0          1                 0
330830           0               0          1                 0
330831           0               0          1                 0
330832           0               0          1                 0
330837           0               0          1                 0
330838           0               0          1                 0
330839           0               0          1                 0
330840           0               0          1                 0
377469           0               0          1                 0
377471           0               0          1                 0
377472           0               0          1                 0
377473           0               0          1                 0
377475           0               0          1                 0
377477           0               0          1                 0
378083           0               0          1                 0
378098           0               0          1                 0
378099           0               0          1                 0
378103           0               0          1                 0
378128           0               0          1                 0
378562           0               0          1                 0
380297           0               0          1                 0
380299           0               0          1                 0
380300           0               0          1                 0
380301           0               0          1                 0
380306           0               0          1                 0
380435           0               0          1                 0
380438           0               0          1                 0
380439           0               0          1                 0
387753           0               0          1                 0

### 6. What topics are grads continuing to reference after graduation and into their jobs (for each program)?

In [8]:
f.post_grad(df, 1, 'url_path')

javascript-i    736
html-css        542
spring          501
java-iii        479
java-ii         454
Name: url_path, dtype: int64

In [9]:
f.post_grad(df, 2, 'url_path')

javascript-i    4229
spring          3760
html-css        3136
java-iii        3058
java-ii         2985
Name: url_path, dtype: int64

In [10]:
f.post_grad(df, 3, 'url_path')

sql/mysql-overview                                275
classification/overview                           266
classification/scale_features_or_not.svg          219
anomaly-detection/AnomalyDetectionCartoon.jpeg    193
anomaly-detection/overview                        191
Name: url_path, dtype: int64

In [11]:
f.post_grad(df, 4, 'url_path')

content/html-css                               2
content/html-css/gitbook/images/favicon.ico    1
content/html-css/introduction.html             1
Name: url_path, dtype: int64

### 7. Which lessons are least accessed?

In [12]:
f.least_total(df, 'url_path', 3, 5)

content/appendix/further-reading/gitbook/images/favicon.ico    6
2.03.06_CorrelationTests                                       6
servlets                                                       6
Name: url_path, dtype: int64

In [13]:
f.least_cohort(df, 'url_path', 1, 5)

url_path               name     url_path
mysql/sample-database  Hampton  mysql/sample-database    6
Name: url_path, dtype: int64

url_path                   name   url_path
prework/cli/03-file-paths  Teddy  prework/cli/03-file-paths    6
Name: url_path, dtype: int64

url_path                               name     url_path
examples/javascript/dom-query-js.html  Sequoia  examples/javascript/dom-query-js.html    6
Name: url_path, dtype: int64

url_path                                  name    url_path
prework/cli/04-navigating-the-filesystem  Arches  prework/cli/04-navigating-the-filesystem    6
Name: url_path, dtype: int64

url_path                name     url_path
appendix/documentation  Niagara  appendix/documentation    6
Name: url_path, dtype: int64

url_path                             name       url_path
javascript-i/bom-and-dom/dom-events  Pinnacles  javascript-i/bom-and-dom/dom-events    6
Name: url_path, dtype: int64

url_path  name    url_path
appendix  Quincy  appendix    6
Name: url_path, dtype: int64

url_path                             name   url_path
content/javascript_ii/ajax-api.html  Kings  content/javascript_ii/ajax-api.html    6
Name: url_path, dtype: int64

url_path                                           name    url_path
content/html-css/css-i/gitbook/images/favicon.ico  Lassen  content/html-css/css-i/gitbook/images/favicon.ico    6
Name: url_path, dtype: int64

url_path                              name     url_path
java-ii/inheritance-and-polymorphism  Mammoth  java-ii/inheritance-and-polymorphism    6
Name: url_path, dtype: int64

url_path                                       name     url_path
content/javascript/gitbook/images/favicon.ico  Glacier  content/javascript/gitbook/images/favicon.ico    6
Name: url_path, dtype: int64

Series([], Name: url_path, dtype: int64)

url_path     name    url_path
content/git  Joshua  content/git    6
Name: url_path, dtype: int64

url_path                  name     url_path
content/php_iv/ad-lister  Olympic  content/php_iv/ad-lister    6
Name: url_path, dtype: int64

url_path                                  name     url_path
content/php_iii/include-and-require.html  Ulysses  content/php_iii/include-and-require.html    6
Name: url_path, dtype: int64

url_path                     name      url_path
content/php_ii/command-line  Badlands  content/php_ii/command-line    6
Name: url_path, dtype: int64

Series([], Name: url_path, dtype: int64)

url_path        name  url_path
html-css/css-i  Ike   html-css/css-i    6
Name: url_path, dtype: int64

url_path        name       url_path
content/php_ii  Voyageurs  content/php_ii    6
Name: url_path, dtype: int64

url_path                               name      url_path
examples/postwork/data_extraction.zip  Wrangell  examples/postwork/data_extraction.zip    6
Name: url_path, dtype: int64

url_path                     name    url_path
appendix/angular/templating  Xanadu  appendix/angular/templating    6
Name: url_path, dtype: int64

url_path           name      url_path
javascript-ii/es6  Franklin  javascript-ii/es6    10
Name: url_path, dtype: int64

url_path                                   name      url_path
content/php_i/intro-via-interactive-shell  Yosemite  content/php_i/intro-via-interactive-shell    6
Name: url_path, dtype: int64

url_path          name   url_path
BuiltIn_Datasets  Staff  BuiltIn_Datasets    6
Name: url_path, dtype: int64

url_path                     name  url_path
prework/cli/06-moving-files  Zion  prework/cli/06-moving-files    6
Name: url_path, dtype: int64

url_path                                        name       url_path
appendix/professional-development/cover-letter  Andromeda  appendix/professional-development/cover-letter    6
Name: url_path, dtype: int64

url_path                                                                name        url_path
content/php_i/intro-via-interactive-shell/doing-math-in-the-shell.html  Betelgeuse  content/php_i/intro-via-interactive-shell/doing-math-in-the-shell.html    6
Name: url_path, dtype: int64

url_path                   name   url_path
html-css/css-i/css-resets  Ceres  html-css/css-i/css-resets    6
Name: url_path, dtype: int64

url_path                 name   url_path
nlp/regular-expressions  Bayes  nlp/regular-expressions    6
Name: url_path, dtype: int64

url_path                     name    url_path
prework/cli/06-moving-files  Deimos  prework/cli/06-moving-files    6
Name: url_path, dtype: int64

url_path                               name    url_path
examples/postwork/data_extraction.zip  Europa  examples/postwork/data_extraction.zip    6
Name: url_path, dtype: int64

url_path                    name     url_path
appendix/spring/pagination  Fortuna  appendix/spring/pagination    6
Name: url_path, dtype: int64

url_path                      name   url_path
distributed-ml/ml-with-spark  Curie  distributed-ml/ml-with-spark    6
Name: url_path, dtype: int64

url_path                     name  url_path
appendix/angular/templating  Apex  appendix/angular/templating    6
Name: url_path, dtype: int64

url_path       name      url_path
slides/arrays  Ganymede  slides/arrays    7
Name: url_path, dtype: int64

Series([], Name: url_path, dtype: int64)

url_path                                  name      url_path
appendix/further-reading/javascript/this  Hyperion  appendix/further-reading/javascript/this    6
Name: url_path, dtype: int64

url_path        name    url_path
5-stats/viz.py  Darden  5-stats/viz.py    6
Name: url_path, dtype: int64

url_path                  name  url_path
web-design/ui/typography  Bash  web-design/ui/typography    6
Name: url_path, dtype: int64

url_path                                     name     url_path
appendix/further-reading/security-use-cases  Jupiter  appendix/further-reading/security-use-cases    6
Name: url_path, dtype: int64

url_path                  name     url_path
web-design/ui/typography  Kalypso  web-design/ui/typography    6
Name: url_path, dtype: int64

url_path                            name  url_path
slides/object_oriented_programming  Luna  slides/object_oriented_programming    6
Name: url_path, dtype: int64

url_path                        name    url_path
advanced-topics/json-responses  Easley  advanced-topics/json-responses    6
Name: url_path, dtype: int64

url_path              name   url_path
web-design/ux/layout  Marco  web-design/ux/layout    6
Name: url_path, dtype: int64

url_path                             name     url_path
javascript-i/bom-and-dom/dom-events  Neptune  javascript-i/bom-and-dom/dom-events    6
Name: url_path, dtype: int64

url_path                       name      url_path
appendix/ds-environment-setup  Florence  appendix/ds-environment-setup    6
Name: url_path, dtype: int64

url_path                  name    url_path
search/search_index.json  Oberon  search/search_index.json    9
Name: url_path, dtype: int64